:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 90%;
}

section {
  text-align: center;
  background-color: cornflowerblue;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 6px;
  padding: 8px 9px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button , .welcome-btn{
  background-color: #fff;
  color: cornflowerblue;
  padding: 4px 8px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.welcome-btn {
  color: #fff;
  background-color: cornflowerblue;
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  width: 100%;
  color: #fff;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}